<div class="col-xs-10 form-group">
  <label>Search</label>
  <input [(ngModel)]="query">
  <hr>
  <template [ngIf]="loginService.IsAdmin()">
    <button type="button" class="btn btn-danger" style="margin-bottom: 5px" (click)="OnAddNewCar()">Add new car</button>
  </template>
  <template [ngIf]="storeService.add">
    <app-store-add></app-store-add>
  </template>
  <div *ngFor="let car of cars | filter:query">
    <table>
      <tr>
        <app-store-admin-item [store]="car"></app-store-admin-item>
      </tr>
    </table>
  </div>
</div>

